name: daelim_project
description: "대림대학교 2024년 3학년 2학기 프로젝트"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter

  # NOTE: Assets
  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  lucide_icons_flutter: ^1.2.3

  # NOTE: Core
  easy_extension: 
    git:
      url: https://github.com/scadasystems/Easy-Extension.git
  file_picker: ^8.1.3
  flex_color_scheme: ^7.3.1
  go_router: ^14.2.8
  http_parser:
  http:
  mime: ^2.0.0
  shared_preferences: ^2.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700